@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");

:root {
  --color-turquoise: #00d4ff;
  --color-coral: #ed7947;
  --color-dimgray: #4c5d67;
  --color-darkslategray: #37474f;
  --color-black: #0b1f34;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  margin-bottom: 0;
}

body,
html {
  padding: 0;
  margin: 0;
}

* {
  font-family: "Play", sans-serif;
}

body {
  background: var(--color-black);
}

a {
  text-decoration: none;
}


button {
  border: none;
  cursor: pointer;
}

button:focus {
  outline: none;
}
